<!DOCTYPE html>
html(lang='en')
    head
        meta(charset='utf-8')
        title Web-Design
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.css")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i|Playfair+Display:400,400i&amp;subset=cyrillic,cyrillic-ext,latin-ext" rel="stylesheet")
        link(rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css")
        link(rel="stylesheet" href="libs/Icon-font-7-stroke-PIXEDEN-v-1.2.0/pe-icon-7-stroke/css/pe-icon-7-stroke.css")
        link(rel="stylesheet" href="style.css")
        link(rel="stylesheet" type="text/css" src="libs/slick-1.8.1/slick/slick-theme.css")

    body
        header.main-header
            .main-header_container
                .main-header_logo
                    img(src="img/Intro.png", alt="logo-intro")
                .main-header_nav
                    ul.main-header_nav-list
                        li.main-header_nav-item home
                        li.main-header_nav-item about
                        li.main-header_nav-item services
                        li.main-header_nav-item works
                        li.main-header_nav-item events
                        li.main-header_nav-item contact
        section.main-content
            .main-content_container
                .main-content_slider
                    ul.main-content_slider-list
                        li.main-content_slider-item
                            h1.main-content_title We craft meaningful digital experiences 
                            p.main-content_sub-tittle Creating products and services that transform organizations for the digital economy
                            button.main-content_button SEE OUR WORK
                        li.main-content_slider-item
                            h1.main-content_title We craft meaningful digital experiences 2
                            p.main-content_sub-tittle Creating products and services that transform organizations for the digital economy
                            button.main-content_button SEE OUR WORK
                        li.main-content_slider-item
                            h1.main-content_title We craft meaningful digital experiences 3
                            p.main-content_sub-tittle Creating products and services that transform organizations for the digital economy
                            button.main-content_button SEE OUR WORK

    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js")
    script(type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js")
    script(src="app.js")